<div style="padding-top:50px;">
<div class="navbar-fixed-top">
  <nav class="navbar navbar-home">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-xs-3">
          <div class="icon pull-left"><a ng-click="$state.back()" class="as-text"><i class="fa fa-angle-left fa-2x"></i></a></div>
        </div>
        <div class="col-xs-6">
          <h3 class="title">我的关注</h3>
        </div>
        <div class="col-xs-3">

        </div>
      </div>
    </div>
  </nav>
</div>
<div class="block">
  <div class="container">
    <div class="row list-item" ui-sref="author({authorId:user.id})" ng-click="setAnimateType('slide-in-right')" ng-repeat="user in users">
      <div class="col-xs-3">
        <thumbnail type="'user'" id="user.id"/>
      </div>
      <div class="col-xs-8">
        <h4>{{user.nickname}}</h4>
        <div class="font-grey-mint"><small>已被{{user.followerSize}}人关注</small></div>
        <div class="font-grey-mint"><small>{{user.description || '&nbsp'}}</small></div>
      </div>
      <div class="col-xs-1 arrow"><i class="fa fa-angle-right"></i></div>
    </div>
  </div>
</div>
</div>
